<h1>How to Use</h1>
<section id="open-source">
    <h3>Embedded Code</h3>
    <article>
    	<h4>Simply embed this code at the bottom of your page</h4>
        <pre><code class="javascript">var sTime;
window.onload = function() {
sTime = new Date();
var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://proj1-6170.herokuapp.com/sites/<%= @current_user.id %>/visited', true);

xhr.send('');
}
window.onbeforeunload = function() {
var eTime, tTime;
eTime = new Date();
tTime = eTime-sTime;
var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://proj1-6170.herokuapp.com/sites/<%= @current_user.id %>/visited?time='+tTime+'&data='+data, true);

xhr.send('');
return; 
}</code></pre>
    </article>
</section>